
<%- include("partials/header"); %>

    <div class="row container-fluid aboutDiv">
        <h1>ABOUT US</h1>
        <div class="animate__animated animate__zoomIn card col-md container">
            <div class="card-header">Dog awareness</div>
            <div class="card-body">
                <p class="card-text">We create awareness about different dog species. We act as a dictionary of different breed of dogs </p>
               </div>
        </div>
        <div class="card col-md container animate__animated animate__zoomIn">
            <div class="card-header container">Dog species</div>
            <div class="card-body">
                <p class="card-text">As a libary of different dog species, we let you know about those species in details and povide their images too</p>
             </div>
        </div>
        <div class="animate__animated animate__zoomIn card col-md container">
            <div class="card-header">Your dog</div>
            <div class="card-body">
              <p class="card-text">We also give you a chance to upload and let us know more about your dog and it will be displayed for others to see</p>
           </div>
        </div>
    </div>
    

<%- include("partials/footer")%>