<%- include("partials/header"); %>

<h1 class="contactH1">CONTACT US</h1>
<br>
<br>

<div class="divForm container animate__animated animate__backInDown mx-auto">
    <form action="/contact" method="post" class="formValidate" name="contactForm" onsubmit="return validateForm()">
      <div class="form-floating mb-3 ">
        <input type="text" class="form-control name bg-dark text-white " name="fname" style="height: 50px;" id="fname" placeholder="name@example.com">
        <label for="name">Name</label>
        <p id="val1"></p>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control name bg-dark text-white" name="email" style="height: 50px;" id="email" placeholder="fname@example.com">
        <label for="email">Email</label>
        <p id="val2"></p>
      </div>  
      <div class="form-floating mb-3">
        <input type="text" class="form-control bg-dark text-white" name="subject" style="height: 50px;" id="subject" placeholder="name@example.com">
        <label for="subject">Subject</label>
      </div>
      <div class="form-floating mb-3">
        <input type="textarea" class="form-control bg-dark text-white"name="message" style="height: 100px;" id="message" placeholder="name@example.com">
        <label for="message">Message</label>
      </div>    
      
      <button class="btn btn-lg btn-info" type="submit" >Submit</button>
          
    </form>
    
</div>

<script>
      function validateForm() {
        if (document.forms["contactForm"]["fname"].value === ""||document.forms["contactForm"]["email"].value === ""||
        document.forms["contactForm"]["subject"].value === ""||document.forms["contactForm"]["message"].value === ""
        ) {
          alert("check empty field and fill"); 
          return false;
        }else{
          alert("sent successful");
        }
       
      }

</script>



<%- include("partials/footer"); %>